* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #17233a;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #17233a;
}
.content > h1{
    color: #ffffffc8;
    font-size: 2.6rem
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}