@font-face {
    font-family: 'pokemonSolid';
    src: url(../font/pokemon/PokemonSolid.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
    display: flex;
    height: 100vh;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}
.content > h1{
    font-size: 2.6rem;
    font-family: 'pokemonSolid';
    letter-spacing: 3px;
    color: #ffcb05;
    filter: drop-shadow(3px 3px 0 #3564ae);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}